server:
  port: 9002
spring:
  jpa:
    hibernate:
      ddl-auto: none
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    serviceUrl:
      defaultZone: http://${DISCOVERY_SERVICE_NAME:localhost}:8761/eureka
      
testSecretValue: '{cipher}07d458bc25133dae49001db8402ec4c59bc62cb5245f46c094afb62ada83573e'
