spring:
  cloud:
    bus:
      enabled: true
      refresh:
        enabled: true
  rabbitmq:
    host: ${RABBIT_MQ_HOST}
    port: ${RABBIT_MQ_PORT}
    username: '{cipher}197b7623e05f928b10de15a3df1e7b483d9f0df2c1e21b6f0c3933eedb0f0851'
    password: '{cipher}3cacd374243e5ae3b121e1b8a5020b3560c490507c4f5569d7807d028ecfbd56'
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  instance:
    hostname: ${HOSTNAME:localhost}
    prefer-ip-address: false
