eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://${DISCOVERY_SERVICE_HOST}:8761/eureka
spring:
  rabbitmq:
    host: ${RABBIT_MQ_HOST}
    port: ${RABBIT_MQ_PORT}
    username: '{cipher}197b7623e05f928b10de15a3df1e7b483d9f0df2c1e21b6f0c3933eedb0f0851'
    password: '{cipher}3cacd374243e5ae3b121e1b8a5020b3560c490507c4f5569d7807d028ecfbd56'
  cloud:
    bus:
      enabled: true
      refresh:
        enabled: true
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: briana-customer
          uri: lb://briana-customer
          predicates:
            - Path=/api/v1/customers/**

        - id: briana-config
          uri: http://${CONFIG_SERVICE_HOST}:8888
          predicates:
            - Path=/api/v1/monitor
